@model  MultiUserBlog_MVC.Models.BlogPosts

<header class="intro-header" style="background-image: url('/img/post-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>@Model.Title</h1>
                    <span class="meta">Posted by @Model.Author) on @Model.Created)</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <p>
                    @Model.Body
                </p>
                <p class="post-meta">Posted by You on @Model.Created</p>
            </div>
        </div>
    </div>
    <div class="post-preview">
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>


