@model MultiUserBlog_MVC.Models.BlogPosts
<header class="intro-header" style="background-image: url('/img/fwwj5y1igqg-alessandro-viaro.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Delete this post?</h1>
                    <hr class="small">
                    <span class="subheading">Take another look just to be sure!</span>
                </div>
            </div>
        </div>
    </div>
</header>



<div class="container">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <p>
                    @Model.Body
                </p>
                <p class="post-meta">Posted by @ViewBag.Author on @Model.Created</p>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    <div class="container">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
            @Html.ActionLink("Back to List", "Index")
        </div>
        <input type="button" value="Create" onclick="location.href='@Url.Action("Index", "BlogPost")'" />
    </div>
}
<div class="container">
    <p>Photograph by <a href="https://www.flickr.com/photos/nasacommons/">Alessandro Viaro</a>.</p>
</div>




