@model MultiUserBlog_MVC.Models.BlogPosts
<header class="intro-header" style="background-image: url('/img/Wanderlust.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Delete this post?</h1>
                    <hr class="small">
                    <span class="subheading">Take another look just to be sure!</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div>
                <h4>BlogPost</h4>
                <hr />
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="post-preview">
                            <p>
                                <h2 class="post-title">
                                    @Model.Title
                                </h2>
                            </p>
                            <p>
                                <h5>
                                    @Model.
                                </h5>
                            </p>
                            <p class="post-meta">Posted by You on @Model.Created</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}

