@model IEnumerable<MultiUserBlog_MVC.Models.BlogPosts>
<header class="intro-header" style="background-image: url('/img/fwwj5y1igqg-alessandro-viaro.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>@ViewBag.User's Blog</h1>
                    <hr class="small">
                    <span class="subheading">Lay down some knowledge!</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    @foreach (var blogPost in ViewBag.OwnerBlogPosts)
    {
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <p>
                        <h2 class="post-title">
                            @Html.ActionLink((string)blogPost.Title, "Details", "BlogPost", new { Id = blogPost.Id }, new { })
                        </h2>
                    </p>
                    <p>
                        <h3 class="post-subtitle">
                            @blogPost.SampleText;
                        </h3>
                    </p>
                    <p>
                        <h5>
                            @Html.DisplayName((string)blogPost.Body)
                        </h5>
                    </p>
                    <p class="post-meta">Posted by @Html.DisplayName((string)blogPost.Author) on @Html.DisplayName((string)blogPost.Created.ToString())</p>
                </div>
            </div>
        </div>
    }
    <p>Photograph by <a href="https://www.flickr.com/photos/nasacommons/">Alessandro Viaro</a>.</p>
</div>